$list-item--padding: 8px 0 8px 5px;
$header-bg--color: rgb(224, 61, 224);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
section {
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 20px;
} 

h3 {
  // margin-bottom: 10px;
  padding: $list-item--padding;
  border-bottom: 2px solid #eee;
  background: $header-bg--color;
  color: white;
}


// Song Input section styling
.song-input--section {
  p {
    margin-bottom: 15px;
    display: flex;
    align-items: center;

    span {
      display: inline-block;
      width: 95px;
    }

    input {
      flex: 1;
      height: 26px;
    }
  }
   form button {
    display: block;
    height: 50px;
    width: 120px;
    border: none;
    border: 1px solid darken(#eee, 10%);
    cursor: pointer;
    margin: 20px 0;
    }

    select {
      width: 80px;
    }
}

// Song List styling
.song-list:not(:last-child) {
  margin-bottom: 20px;
}

.song-count {
  font-weight: normal;
  font-size: 1rem;
}


.song-item {
  margin-bottom: 10px;
  background: #eee;
  padding: $list-item--padding;

  span {
    display: block;
    margin-bottom: 8px;
  }

  .song-artist {
    font-style: italic;
  }
}


